<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <div id="app">
        <h1 >{{title}}</h1>
        <div v-show="show" id="test">hahahahha<span>这是一个mvvm</span>示例</div>
        <input type="text" v-model="firstName"/>
        <div v-text="firstName"></div>
        <input type="text" v-model="secondName"/>
        <div v-text="secondName"></div>
        <div v-text="fullName"></div>
    </div>

    <script src='../src/index.js'></script>
    <script>
        var obj = {
          title: '欢迎来到本demo',
          show: false,
          firstName: 'vue',
          secondName: 'vum',
          fullName: 3333
        };

        var app=new Vum({
          el:'#app',
          data:obj
        });

    </script>
</body>
</html>